.menuitem {
	color: white;
	font-size: 1em;
}

.container {
	font-size: 15px;
	margin: 5px;
}

.avatarimage {
	width: 55px;
}

.centertext {
	text-align: center;
}

.centerimage{
	margin-right: auto;
	margin-left: auto;
	display: block !important;
}

.user {
	width: 75px;
	height: auto;
}

.flexpos {
	position: inherit;
}

.content {
	padding-left: 5px;
}

.cabinet {
	top: 10% !important;
	display: block !important;
}